<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th class="hidden-sm-down">Nr</th>
      <th>Namn</th>
      <th>Årgång</th>
      <th>Land</th>
      <th>Region</th>
      <th>Sub-Region</th>
      <th>Appellation</th>
      <th>Pris</th>
      <th>Betyg</th>
      <th>Kvalitet</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wine of wines"
      (click)="onSelect(wine)">
        <td>{{wine._id}}</td>
        <td class="hidden-sm-down">{{wine.systembolaget?.nr}}</td>
        <td>{{wine.namn}}</td>
        <td>{{wine.argang}}</td>
        <td>{{wine.land}}</td>
        <td>{{wine.region}}</td>
        <td>{{wine.subRegion}}</td>
        <td>{{wine.appellation}}</td>
        <td>{{wine.pris}}</td>
        <td>{{wine.aov?.betyg}}</td>
        <td>{{wine.aov?.kvalitet?.kvalitet}}</td>
      </tr>
    </tbody>
</table>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Child modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        I am a child modal, opened from parent component!
      </div>
    </div>
  </div>
</div>
